@font-face {
    font-family: "Lexend";
    src: url("/fonts/lexend.ttf") format("ttf")
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', Lexend, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x:hidden; */
}



h2 {
    font-weight: 900;
    font-size: 4em;
    color: transparent;
    -webkit-background-clip: text;
    background-size: 30%;
    background-image: url('../pictures/text.png');
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.389)

}

body {
    background:  linear-gradient(90deg, rgba(190,200,221,1) 0%, rgba(198,199,185,1) 29%);
    min-height: 100vh;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Lexend', Lexend, sans-serif;
    font-size: 1.2em;

}

.navbar-brand {
    font-family: 'Lexend', Lexend, sans-serif;
    font-size: 20pt;
    font-weight: 600;
    color: #354127cd !important;
    z-index: 10000;


}

.navbar {
    /* background: linear-gradient(143deg, rgba(19,48,126,1) 0%, rgba(188,186,161,1) 100%); */
    /* height: 2%; */
    backdrop-filter: blur(5px) !important;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;


}

section img#valley {
    z-index: -3;
    opacity: 0.92;

    /* object-position: center -40vw; */
}

section img#river {
    z-index: -2;
    opacity: 0.92;
    /* width: 80%; */
    /* object-position: center -30rem; */

}

.content-text-center {
    position: absolute;
    z-index: -1;
    padding: 2em;
    /* -webkit-text-shadow: 5px 5px 31px 5px rgba(0,0,0,0.18);  */
    text-shadow: 0px 0px 9px rgba(19, 48, 126, 0.74);
}


#learn {
    position: relative;
    /* display:contents; */
    text-align: center;
    top: 0vw;

    margin: 5vw;
    margin-top: 10vw;
}


.streamcont {

    padding: 0%;
    z-index: -6;
    height: 200rem;

    position: absolute;
    top: 0%;
    left: 40%;
    /* transform: translate(-50%, -50%); */
    /* justify-content: 50%; */
    /* align-items: center; */
    /* transform: translateY(-50%); */



}

#stream {
    position: fixed;
    /* border-bottom: 20%; */
    padding-bottom: 20vh;
    border: 0;
    height: 200vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    object-fit: cover;
    object-position: 30% 1500px;
    /* try 20px 10px */
    margin-top: 0px;
    /* top: 0vh; */
}

.navbar-default.scrolled {
    background: #000;
}


#grass {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap: 10vw;
    grid-row-gap: 3vh;
    grid-template-areas:
        "header header"
        "item2 item3"
        "item4 item3"
        "item7 item7"
        "item5 item5"
        "item6 item8"
        "item9 item10"
        "item11 item10"
        "item13 item13"
        "item12 item12";
    justify-content: center;
}

.columns {
    display: flex;
}

.grid-item {
    border-radius: 30px;
    /* background: white; */
    padding: 2%
}

.grid-item-1 {
    grid-area: header;
    /* background:red; */
    padding: 0vw;




}

.grid-item-2 {
    grid-area: item2;
    background-image: url("../pictures/bg4.png");
    text-align: left;

    /* background-position: 10ch 8em; */
    color: white;
    /* text-emphasis: bold; */
    font-family: 'Lexend', Lexend, sans-serif;
    font-weight: 800;
    border-radius: 30px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-repeat: no-repeat; */
    max-height: 100%;



}

#inner-paragraph {

    background: linear-gradient(0deg, rgba(19, 48, 126, 0.238) 0%, rgba(63, 115, 213, 0.475));
    padding: 2%;
    border-radius: 30px;
    backdrop-filter: blur(5px) !important;

}

.grid-item-3 {
    grid-area: item3;
    text-align: right;

    /* background:yellow; */
}

#arrow {
    width: 60%;

    object-fit: fill;
    transform: rotate(-10deg);
}

#modal {
    width: 40%;

    object-fit: fill;
    transform: rotate(-10deg);
}


.grid-item-4 {
    grid-area: item4;
    display: flex;
    justify-content: right;

}

#mockup1 {
    width: 80%;
    object-fit: fill;
    /* transform: rotate(-30deg); */
}

.grid-item-5 {
    grid-area: item5;
    display:block;
    /* background: blue; */
    justify-items: center;
}
.grid-item-5>img{
    width: 10vh;
    object-fit: fill;
    display:block;
    margin:auto;

}



.grid-item-7 {
    grid-area: item7;
    /* background: blue; */
    text-align: left;
}

.grid-item-7>h2{
    
}


#mockup2{
    width: 20vw;

    
}


.grid-item-6 {
    grid-area: item6;
    /* background: blue; */
}

#mockup3 {
    width: 80%;
    object-fit: fill;
    /* transform: rotate(-30deg); */
}

#tree4 {
    width: 80%;
    object-fit: fill;
    /* transform: rotate(-30deg); */
}

.grid-item-8 {
    grid-area: item8;
    background-image: url("../pictures/bg3.png");
    text-align: left;

    /* background-position: 10ch 8em; */
    color: white;
    /* text-emphasis: bold; */
    font-family: 'Lexend', Lexend, sans-serif;
    font-weight: 800;
    border-radius: 30px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-repeat: no-repeat; */
    max-height: 100%;
}

.grid-item-9 {
    grid-area: item9;
}

.grid-item-10 {
    grid-area: item10;
    justify-content: left;
    /* background:rgba(60, 166, 187, 0.672); */
}




#mockup4 {
    width: 80%;
    object-fit: fill;
    position: relative;
    top: 0;
  left: 0;

}



#arrow2 {
    width: 20%;

    object-fit: fill;
    transform: rotate(0deg);
}


.grid-item-11 {
    grid-area: item11;
    background-image: url("../pictures/bg1.png");
    text-align: left;

    /* background-position: 10ch 8em; */
    color: white;
    /* text-emphasis: bold; */
    font-family: 'Lexend', Lexend, sans-serif;
    font-weight: 800;
    border-radius: 30px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-repeat: no-repeat; */
    max-height: 100%;
}

.grid-item-11 > p {
    font-weight: 900;
    font-size: 2em;
}


.grid-item-12 {
    grid-area: item12;

}


.grid-item-13 {
    grid-area: item13;

}

#overlay{
    position:absolute;
    width: 15%;
  top: 70%;
  left: auto;
  z-index: 1000;

}



/* !!!!!!!!!! SUBGRID !!!!!!!!!! */

.subgrid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap: 10vw;
    row-gap: 3vh;
    grid-template-areas:
        "itema itemb itemc";
    justify-content: center;
}

.subgrid-item > img{
    width: 30%;
    object-fit: fill;
}

.subgrid-item-1 {grid-area: itema;}
.subgrid-item-2 {grid-area: itemb;}
.subgrid-item-3 {grid-area: itemc;}

/* ========FADE IN ============ */

.fade-in {
    opacity: 0;
    transition: opacity 600ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-10%);
}

.from-right {
    transform: translateX(+10%);
}


.from-left,
.from-right {
    opacity: 0.1;
    transition: opacity 3200ms ease-in;
    transition: transform 800ms ease-in;

}

.from-left.appear,
.from-right.appear {
    transform: translateX(0%);
    opacity: 1;
}

html,body{
    max-width: 100%;
    overflow-x: hidden;

}


@media only screen and (max-width: 800px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        grid-column-gap: 10vw;
        grid-row-gap: 3vh;
        grid-template-areas:
            "header"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8"
            "item9"
            "item10"
            "item11"
            "item12";
        justify-content: center;
    }

}